.hero {
    background-image: url('../Assets/homepage_background.png'); /* Set background image */
    background-size: cover; /* Ensure it covers the entire container */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent repetition */
    width: 100%; /* Full width of the container */
    aspect-ratio: 16 / 9; /* Maintain a 16:9 aspect ratio */
    display: flex; /* Flex layout for children */
    align-items: center; /* Vertically align items */
    justify-content: space-between; /* Space between left and right content */
    position: relative; /* For relative positioning of children */
}


.hero-latest-btn {
    display: flex;
    align-items: center;   
    margin-top: 2%;
    background-color: white; /* Semi-transparent background */
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: auto;
}

.hero-latest-btn p {
    font-size: 1.2rem; /* Responsive font size */
    margin: 0;
    color: white; /* White text color for contrast */
}

@media (max-width: 768px) {
    .hero {
        aspect-ratio: 4 / 3; /* Adjust to 4:3 for smaller devices */
    }
}
