.footer {
  background: linear-gradient(to right, #00ff00, #008000);
  color: white;
  padding: 100px 0 30px;
  text-align: center;
  border-top-left-radius: 125px;
  font-size: 13px;
  line-height: 20px;

}

